@font-face {
	font-family: 'Apercu Pro';
    src: url('fonts/Apercu Pro Regular.otf')
}
@font-face {
	font-family: 'Apercu Pro Bold';
    src: url('fonts/Apercu Pro Bold.otf')
}
body{
    margin: 0%;
    color: #000000;
    background-color: #ffffff;
    font-family: Apercu Pro;
    transition: 0.7s;
    
}

.note1, .note2, .note3, .note4, .caption1, .caption2, .caption3, .caption4, .caption5, .caption6{
    position: fixed;
    width: 20%;
    margin-left: 75%;
    display: none;
    
/*    background-color: aqua;*/
    z-index: 2;
    
}
.container{
    width: 100%;
    height: 100%;
/*
    display: flex;
    justify-content: center;
    align-items: center;
*/
}
.container0{
    width: 45%;
    height: 50vh;
    position: absolute; 
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
/*    text-align: center;*/
    display: block;
    opacity: 1;
    transition: 0.7s;
}
.container01{
    width: 45%;
    height: 90vh;
    position: absolute; 
    display: inline-block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    transition: 0.7s;
    z-index: -1;
    font-size: 2.4vw;
    line-height: 1.4;
}
.pages1, .pages2, .pages3{
    font-size: 2.4vw;
    margin-bottom: 50px;
    text-decoration: none;
    color: black;
}


.pages1:hover{
    color: #d8d8d8;
    transition: 0.5s;
}
.pages2:hover{
    color: #b2b2b2;
    transition: 0.5s;
}
.pages3:hover{
    color: #808080;
    transition: 0.5s;
}
.list{
    height: 100vh;
    width: 30%;
    display: flex;
    flex-flow: column wrap;
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
}
.list1{
    flex: 1 0 auto;
    margin: 0;
    margin-left: 5%;
}
.list2{
    float: right;
    margin-right: 2%;
    font-size: 3.5vw;
}

.container1{
    width: 45%;
    margin-left: 27.5%;
    margin-right: 27.5%;
    margin-bottom: 5%;
    z-index: 1;
/*    display: flex;*/
}
.container2{
/*    display: flex;*/
}
.title{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    font-size: 25px;
}

.text{
/*    background-color: coral;*/
    text-indent: 15%;
    font-size: 18px;
    line-height: 1.4;
}
#image1, #image2, #image3, #image4, #image5, #image6, #image7, #image8, #image9, #image10, #image11, #image12, #image13, #image14, #image15, #image16, #image17, #image18 {
    position: absolute;
    width: 40%;
    display: none;
    pointer-events: none;
/*     visibility: hidden; */
    z-index: -1;
    
}
.link1, .link2, .link3, .link4, .link5, .link6, .link7, .link8, .link9, .link10, .link11, .link12, .link13, .link14, .link15, .link16, .link17, .link18{
/*    color: #15e21d;*/
    cursor: none;
    font-family: Apercu Pro;
}
.link0{
    cursor: default;
}

@media screen and (max-width:767px){
    
    .note1, .note2, .note3, .note4, .caption1, .caption2, .caption3, .caption4, .caption5, .caption6{
        position: fixed;
        width: 20%;
        margin-left: 73%;
        font-size: 13px;
        display: none;
  /*    background-color: aqua;*/
        
        z-index: 2;
    
    }   
    
    .pages1, .pages2, .pages3{
        font-size: 3vw;
        margin-bottom: 10%;
    }
    .container1{
        width: 60%;
        margin-left: 10%;
        margin-right: 30%;
        margin-bottom: 5%;
        /*    display: flex;*/
    }
    
    .text{
/*            background-color: coral;*/
        text-indent: 20%;
        font-size: 15px;
        line-height: 1.4;
    }
    
    #image1, #image2, #image3, #image4, #image5, #image6 {
        position: absolute;
        width: 70%;
        display: none;
        pointer-events: none;
        /*     visibility: hidden; */
        z-index: -10;
    
    }
    
    .title{
        margin-top: 10%;
        margin-bottom: 10%;
        width: 100%;
        font-size: 20px;
    }
    
}