@font-face {
	font-family: 'Apercu Pro';
    src: url('fonts/Apercu Pro Regular.otf')
}
@font-face {
	font-family: 'Apercu Pro Bold';
    src: url('fonts/Apercu Pro Bold.otf')
}

body {
/*
    display: flex;
    flex-direction: column;
*/
    margin: 0;
    color: rgba(0, 0, 0, 0);
/*    background-color: #b2b2b2;*/
    background-color: #ffffff;
    font-family: Apercu Pro;
    transition: 0.7s;
    
}

.container1{
/*    position: absolute;*/
    margin-top: 5%;
    z-index: 1;
    
}
.button{
    width: 40px;
    position: fixed;
    margin-left: 5%;
}
.container2{
    margin-left: 27.5%;
    margin-right: 27.5%;
    margin-bottom: 5%;
    width: 45%;
}
.title{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    font-size: 25px;
    color: black;
}


#chatWindow {
    width: 100% !important;
    background-color:transparent;
    border-bottom:none;
    font-family:arimoreg;
    height: 100% ;
}

#_botChatFrame {
    width: 100% !important;
    padding: 4px 6px !important;
	box-sizing: border-box;
    background-color: transparent;
    border: solid;
    border-width: 0px;
    display: block;

}



#frame {
    width: 100%;
    height: 380px;
}

#bot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}




